name: Deploy Streamlit PROD

on:
  push:
    branches:
      - main

env:
  APP_VERSION: v1.0.${{ github.run_number }}

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      # 1️⃣ Clonar o repositório
      - uses: actions/checkout@v4

      # 2️⃣ Build da imagem Docker
      - name: Build Docker image
        run: docker build -t streamlit-app:${{ env.APP_VERSION }} .

      # 3️⃣ Deploy do container
      - name: Deploy Docker container
        run: |
          docker compose -f docker-compose.prod.yml down
          docker compose -f docker-compose.prod.yml up -d
