name: Deploy Streamlit PROD

on:
  push:
    branches:
      - main

env:
  APP_VERSION: v1.0.${{ github.run_number }}

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      # 1️⃣ Clonar repositório
      - uses: actions/checkout@v4

      # 2️⃣ Derrubar container e remover volumes (como vocês faziam manualmente)
      - name: Docker down (remove volumes)
        run: docker compose -f docker-compose.prod.yml down --volumes --remove-orphans

      # 3️⃣ Build da imagem sem cache
      - name: Build Docker image (no cache)
        run: docker compose -f docker-compose.prod.yml build --no-cache

      # 4️⃣ Subir container de novo
      - name: Deploy Docker container
        run: docker compose -f docker-compose.prod.yml up -d
