name: Deploy Streamlit PROD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, Windows, X64, docker]


    steps:
      # 1️⃣ Clona o repositório na pasta correta do runner
      - uses: actions/checkout@v4

      # 2️⃣ Só pra debug (pode remover depois)
      - name: Ver onde estou
        run: |
          pwd
          dir
        shell: powershell

      # 3️⃣ Derruba containers antigos
      - name: Docker down
        run: docker compose -f docker-compose.prod.yml down --volumes --remove-orphans
        shell: powershell

      # 4️⃣ Rebuild da imagem
      - name: Docker build
        run: docker compose -f docker-compose.prod.yml build --no-cache
        shell: powershell

      # 5️⃣ Sobe container novo
      - name: Docker up
        run: docker compose -f docker-compose.prod.yml up -d
        shell: powershell

      # 6️⃣ Verifica
      - name: Docker ps
        run: docker ps
        shell: powershell
