name: Deploy Streamlit PROD

on:
  push:
    branches:
      - main

env:
  APP_VERSION: v1.0.${{ github.run_number }}

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      # 1️⃣ Clonar repositório
      - uses: actions/checkout@v4

      # 2️⃣ Verificar Docker
      - name: Docker info
        run: docker info
        shell: powershell

      # 3️⃣ Derrubar container antigo e remover volumes
      - name: Docker down (remove volumes)
        run: docker compose -f docker-compose.prod.yml down --volumes --remove-orphans
        shell: powershell

      # 4️⃣ Build da imagem sem cache
      - name: Build Docker image (no cache)
        run: docker compose -f docker-compose.prod.yml build --no-cache
        shell: powershell

      # 5️⃣ Subir container de novo
      - name: Deploy Docker container
        run: run: docker compose -f C:\caminho\para\app\docker-compose.prod.yml up -d

        shell: powershell

      # 6️⃣ Verificar containers rodando
      - name: Docker ps
        run: docker ps
        shell: powershell
