name: Deploy Streamlit PROD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4

      - name: Show current directory (debug)
        run: |
          pwd
          dir
        shell: powershell

      - name: Create .env file (UTF-8 safe)
        shell: powershell
        run: |
          echo "DB_HOST=${{ secrets.DB_HOST }}" >> .env
          echo "DB_PORT=${{ secrets.DB_PORT }}" >> .env
          echo "DB_USER=${{ secrets.DB_USER }}" >> .env
          echo "DB_PASS=${{ secrets.DB_PASS }}" >> .env
          echo "API_KEY=${{ secrets.API_KEY }}" >> .env
          "@
            $content | Out-File -FilePath .env -Encoding utf8 -Force

      - name: Docker down
        run: docker compose -f docker-compose.prod.yml down --volumes --remove-orphans
        shell: powershell

      - name: Docker build
        run: docker compose -f docker-compose.prod.yml build --no-cache
        shell: powershell

      - name: Docker up
        run: docker compose -f docker-compose.prod.yml up -d
        shell: powershell

      - name: Docker ps
        run: docker ps
        shell: powershell
